* {
  box-sizing: border-box;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

body {
  background: #131316;
  color: #fff;
  margin: 0 auto;
  padding: 1rem;
}


/* Use max-width because table are designed desktop first */
@media all and (max-width: 1440px) {
  body {
    padding: 0 2.5rem;
  }
}

caption, th, td {
  padding: 1rem;
}

caption, th {
  text-align: left;
}

caption {
  background: indianred;
  font-size: 1.5rem;
}

th {
  background:hsl( 0 0% 0% / 0.5);
  vertical-align: text-bottom;
}

td {
  vertical-align: text-top;
}

tr:nth-of-type(2n) {
  background:hsl( 0 0% 0% / 0.2);
}




.wrapper {
  margin-inline: auto;
}

.table-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

table {
  background: #323232;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c8cbce;
}

tr {
  border-bottom: 1px solid #c8cbce;
}

td {
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  word-wrap: break-word;
  min-width: 200px; /* can be remove or adjusted to make td cells more flexible */
}